<h1>Pointstreak.com Schedule Liberation</h1>
<p>
Enter the url for the printable version of your teams schedule and&nbsp;
select the format!
</p>
<p>To find your teams schedule page:</p>
<ol>
  <li>Visit the leagues home page</li>
  <li>Click on the team in question</li>
  <li>Click the SCHEDULE link under TEAM MENU</li>
  <li>Click PRINT THIS PAGE</li>
  <li>ex - http://www.pointstreak.com/players/print/players-team-schedule.html?teamid=385368&seasonid=9162</li>
</ol>

<%= simple_form_for Conversion.new do |f| %>
  <%# f.input :format, collection: Conversion.formats %>
  <%= f.input :url,
    :label => "Pointstreak URL",
    :required => false,
    :input_html => { :role => "schedule-url" }
  %>
<% end %>

<div id="schedule" role="schedule"></div>
